@tailwind base;

*::-webkit-scrollbar {
  width: 0px;
}

@tailwind components;
@tailwind utilities;

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .navbar {
    justify-content: right;
    width: 100%;
    margin: auto;
    
    padding: 0 5%;
    
    z-index: 1;
    
  }
  
  .navbar-nav{
    max-width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    
  }
  
  .nav-item{
    width: calc(var(--nav-size)*0.8);
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .icon-button{
    --button-size: calc(var(var(--nav-size) * 0.5));
    width: var(--button-size);
    height: var(--button-size);
    background-color:  var(--bg-accent);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.2)
  }
  
  .icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
  
  /*dropdown menu*/
  
  .dropdown{
    position: absolute;
    top: 38px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
  
    transition: height var(--speed) ease;
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  
  .menu-item:hover {
    background-color: #525357;
  }
  
  .icon-right {
    margin-left: auto;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  
  .menu-primary-enter-active{
    transform: translate(0%);
    transition: all var(--speed) ease;
  }
  
  .menu-primary-exit{
    position: absolute;
  }
  
  .menu-primary-exit-active{
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  .menu-secondary-enter {
    position: absolute;
    transform: translateX(110%);
  }
  
  .menu-secondary-enter-active{
    transform: translate(0%);
    transition: all var(--speed) ease;
  }
  
  .menu-secondary-exit{
    
  }
  
  .menu-secondary-exit-active{
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }